<header>
    <img src="../../../assets/Luca..png" alt="">
    <div class="header--left-options">
        <div class="explorar"></div>
        <div class="search"></div>
    </div>
    <div class="header--mid-options">
        <div class="fire"></div><p>0</p>
        <div class="star"></div><p>0</p>
        <div class="flower"></div><p>0</p>
    </div>
    <div class="header--right-options">
        <div class="right-options--notify"></div>
        <div class="right-options--user"></div>
    </div>
</header>
