<div class="container">
    <div id="desktop">
        <app-sidenav></app-sidenav>
    </div>
    <div id="mobile">
        <app-header></app-header>
            <main>
                <h2>Comunidad Luca</h2>
                <mat-tab-group >
                    <mat-tab label="POPULARES"></mat-tab>
                    <mat-tab label="NUEVOS"></mat-tab>
                    <mat-tab label="SEGUIDOS"></mat-tab>
                </mat-tab-group>
                <section>
                    <app-questions></app-questions>
                </section>
            </main>
            <app-footer></app-footer>
    </div>
</div>
