    <article>
        <div class="info-left">
            <div class="info-left--user"></div>
            <div>
                <div class="info-left--up"></div>
                <div class="info-left--down"></div>
            </div>
        </div>
        <div class="info-right">
            <h3>Cuales son los multiplos del 7?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore molestias nemo sed perferendis ad consequuntur eius amet numquam! Dolorum vitae iste omnis minus! Molestiae id nam quas placeat deleniti reprehenderit?</p>
            <div class="info-right--footer">
                <p></p>
                juan.23 en <strong style="color: #3843d0;">Matematicas 6</strong>
            </div>
        </div>
    </article>

